.header {
  nav {
    background-color: #004b53;
    border-radius: flex;
    padding: 15px;
    display: flex;
    margin-top: 10px;

    & a + a,
    span + a {
      margin-left: 130px;
    }

    div {
      margin-right: auto;
      display: flex;
      gap: 6px;
    }
  }
}

.footer {
  background-color: #004b53;
  border-radius: flex;
  margin: 20px 0;
  display: flex;
  margin-top: 20px;
  padding: 1px;
  border-top: 2px solid var(--main-bg-color);
}
